hgroup {
    font-family: 'Roboto', serif;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

p.footer {
    text-align: center;
    font-size: 12px;
}

img#icone {
    block-size: 75px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 30%;
}

div#head {
    margin-left: 0%;
}

h2#title {
    margin-top: -5pt;
    font-size: 9pt;
}